body::before {
  display: block;
  content: '';
  height: 60px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }

}

html {
  scroll-padding-top: 60px; /* height of sticky header */
}

@media (min-width: 577px) {
  .position-sm-absolute {
    position: absolute;
  }
}